beautifulsoup4==4.12.3
cassandra-driver==3.25.0
certifi==2020.6.20
chainmap==1.0.3
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
combomethod==1.0.12
cycler==0.10.0
exceptiongroup==1.2.2
frozendict==2.4.4
geomet==0.2.1.post1
html5lib==1.1
ibapi==10.19.4
idna==2.10
iniconfig==2.0.0
joblib==0.16.0
kiwisolver==1.2.0
llvmlite==0.37.0
lxml==4.5.2
matplotlib==3.3.2
multitasking==0.0.11
nulltype==2.3.1
numba==0.54.1
numpy==1.19.2
options==1.4.10
packaging==24.1
pandas==1.1.2
pandas-datareader==0.9.0
patsy==0.5.1
peewee==3.17.6
Pillow==7.2.0
pipdeptree==2.0.0
platformdirs==4.2.2
pluggy==1.5.0
pyparsing==2.4.7
pytest==8.2.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.1
six==1.12.0
sklearn==0.0
soupsieve==2.5
statsmodels==0.12.2
threadpoolctl==2.1.0
tomli==2.0.1
tzdata==2024.1
urllib3==1.25.10
webencodings==0.5.1
yfinance==0.2.40
